@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* AVOID OVERFLOW */

html, body {
  overflow-x: hidden;
}

/* CURSOR */

@media (min-width: 1024px) {
  body {
    cursor: none;
  }

  a, button, img, span {
    cursor: none;
  }
}

/* FONTS */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Montserrat', 'Lato', sans-serif; 
}

p, span, a, button {
  font-family: 'Open Sans', 'Arial', 'Verdana', sans-serif; 
}

/* SCROLL  */

@media (min-width: 1024px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(2rem + 10px)
  }
}  

@media (max-width: 1024px) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(4rem + 10px)
  }
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #3182ce;
}

/* NAVBAR */

.logo:hover {
  filter: brightness(0.7);
  transition: 0.5 ease;
}

.nav-link {
  position: relative;
  text-decoration: none;
  margin-right: 1rem;
}

.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #3182ce; 
  transition: width 0.5s ease;
}

.nav-link:hover::before {
  width: 100%;
}

.nav-link:hover {
  color: #3182ce; 
}

/* HOME */

.icon-container a:nth-child(1):hover {
  background-color: #3182ce; 
  border-color: #3182ce; 
  color: white;
}

.icon-container a:hover {
  color: #3182ce;
  transition: 0.5s ease;
}

/* ANYMATIONS */

/* H1 */

.hello {
  bottom: 100%; 
  left: 0%; 
  background-color: #3182ce;
  width: 100px; 
  text-align: center;
}

@keyframes changeColor {
  0% { color: #fff; }
  50% { color: #3182ce; }
  100% { color: #fff; }
}

.matias {
  animation: changeColor 5s linear infinite;
}

/* H2 */

.typing-animation {
  width: fit-content; 
}

.write-animation {
  overflow: hidden;
  border-right: .15em solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  animation: typing 3s steps(27, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 16ch } 
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #3182ce; }
}

/* A */

.arrow-animation {
  position: absolute;
  pointer-events: none;
  top: calc(100% + 7px); 
  left: 44%;
  transform: translateX(-40%);
  animation: moveUpDown 1.5s infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}

/* HOME */

/* CONTAINER 1 */

.container {
  opacity: 0;
  transform: translateY(-300px);
  transition: opacity 0.5s ease, transform 1s ease;
}

.container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* CONTAINER 2 */

.container2 {
  opacity: 0;
  transform: translateX(-300px);
  transition: opacity 0.5s ease, transform 1s ease; 
}

.container2.visible {
  opacity: 1;
  transform: translateX(0);
}

/* ABOUT ME */

.arrow-right {
  color: #3182ce;
}

.btn-container a:hover {
  color: white;
  transition: 0.5s ease;
  background-color: #3182ce; 
  border-color: #3182ce; 
}

.pulse {
  transition: transform 0.5s ease-in-out; 
}

.pulse:hover {
  transform: scale(1.1); 
}

/* ANYMATIONS */

.profile-image-container {
  opacity: 0;
  transform: translateX(-100px); 
  transition: opacity 0.5s ease, transform 1s ease;
}

.about-container {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease, transform 1s ease; 
}

/* PROJECTS */

#projects img {
  aspect-ratio: 16/9;
}

.accordion-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid white;
}

.accordion-bar:hover {
  background-color: rgb(40, 40, 41);
  transition: 0.5s ease; 
}

.accordion-bar.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-content {
  border: 1px solid white;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.accordion-bar .accordion-arrow {
  transition: transform 0.5s ease; 
}

.accordion-bar.active .accordion-arrow {
  transform: rotate(360deg);
}

.web-hover:hover, .github-hover:hover {
  color: #3182ce;
  transition: 0.5s ease;
}

.tailwind-img {
  width: 34px;
  height: 34px;
}

@media (max-width: 640px) {
  .tailwind-img {
    width: 28px;
    height: 28px;
  }
}

.slider-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between; 
  width: 100%;
  z-index: 1;
}

.slider-nav button {
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  border: none;
  padding: 10px;
  font-size: 24px;
  margin: 0 25px;
}

.slider-nav button:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}

/* ANYMATIONS */

.accordion {
  opacity: 0;
  transform: translateX(-300px);
  transition: opacity 0.5s ease, transform 1.5s ease;
}

.in-viewport {
  opacity: 1;
  transform: translateX(0);
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.accordion.visible {
  animation: fadeInFromLeft 1s ease forwards;
}

/* SKILLS */

.skill-hover:hover {
  transform: scale(1.05);
}

.skill-hover:not(:hover) {
  transform: scale(1);
}

@media screen and (min-width: 448px) and (max-width: 640px) {
  .responsive-mobile {
    justify-content: start;
  }

  .skill {
    margin-right: 20px;
  }
}

/* ANYMATIONS */

.skill {
  opacity: 0;
}

.skill.in-viewport {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

/* CONTACT */

/* ANYMATIONS  */

.contact {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contact.in-viewport {
  opacity: 1;
}

/* FOOTER */

.icon-container2 a:hover {
  color: #3182ce;
  transition: 0.5s ease;
}

/* HOVER INVERSO */

.icon-container a, .btn-container a, .accordion-bar, .web-hover, .github-hover, .submit-hover, .icon-container2 a {
  transition: 0.5s ease;
}
